<header>
  <%= image_tag("logo.png", alt: "MicroBlog IT", class: "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Início", root_url %></li>
      <li><%= link_to "Sobre", sobre_url %></li>
      <li><%= link_to "Entre no site", '#' %></li>
    </ul>
  </nav>
</header>
